<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @buy_item.title %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @buy_item.image.variant(resize:'504x500'), class: 'item-box-img' if @buy_item.image.attached?%>
      <%# 商品が売れている場合は、sold outの表示をしましょう。 %>
      <%if @buy_item.sell_item != nil %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <% end %>
      <%# //商品が売れている場合は、sold outの表示をしましょう。 %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
      <%= @buy_item.price %>円
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <%# ログインしているユーザと出品しているユーザが同一人物である時、商品の編集と削除を表示にしましょう%>
  <% if user_signed_in? && current_user.id == @buy_item.user_id && @buy_item.sell_item == nil%>
    <%= link_to '商品の編集', edit_buy_item_path(@buy_item.id), class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', buy_item_path(@buy_item.id), method: :delete, class:'item-destroy' %>
    <%# 商品が売れていない場合はこちらを表示しましょう %>
  <% end %>

  <% if user_signed_in? && current_user.id != @buy_item.user_id && @buy_item.sell_item == nil %>
    <%= link_to '購入画面に進む', buy_item_sell_items_path(@buy_item.id) ,class:"item-red-btn"%>
    <%= render "formal" %>
  <% else user_signed_in? && @buy_item.sell_item != nil %>
    <%= render "notlogin" %>
  <% end %>

    <%# //商品が売れていない場合はこちらを表示しましょう %>
    <%# // ログインしているユーザと出品しているユーザが同一人物である時、商品の編集と削除を表示にしましょう %>

